:root {
  --ease-spring-4: linear(
    0,
    0.009,
    0.037 1.7%,
    0.153 3.6%,
    0.776 10.3%,
    1.001,
    1.142 16%,
    1.185,
    1.209 19%,
    1.215 19.9% 20.8%,
    1.199,
    1.165 25%,
    1.056 30.3%,
    1.008 33%,
    0.973,
    0.955 39.2%,
    0.953 41.1%,
    0.957 43.3%,
    0.998 53.3%,
    1.009 59.1% 63.7%,
    0.998 78.9%,
    1
  );
}

.dp-f {
  display: flex;
}

.custom-select {
  /*  스타일 지정 가능한 새로운 상태(일반적으로 '기본' 스타일이라고 함)로 전환하 */
  &,
  &::picker(select) {
    appearance: base-select;
  }

  /* 기본 체크마크 숨김 */
  &::picker-icon {
    display: none;
  }
}

selectedcontent {
  display: flex;
  align-items: center;
  gap: 0.5ch;
}

selectedcontent > * {
  transition: transform 1s var(--ease-spring-4), display 1s allow-discrete,
    opacity 1s;

  @starting-style {
    opacity: 0;
    transform: translateY(10px);
  }
  opacity: 1;
}

option {
  display: grid;
  grid-template-columns: [icon] auto [content] 1fr [mark] auto;

  /* 체크마크 위치 설정 */
  &::checkmark {
    grid-area: 1 / mark;
  }
}
