body {
  display: grid;
  place-content: start center;
  margin: 0;
  padding: 10vmin;
}

.scroll-layout {
  display: grid;
  align-items: center;
  gap: 10px;

  grid-template-areas:
    "left scroll right"
    ". markers .";

  grid-template-columns: auto 1fr auto;

  .carousel {
    grid-area: scroll;
  }
}

.carousel {
  display: grid;
  grid: 30vmin / auto-flow 50vmin;
  gap: 15px;
  padding: 0;
  margin: 0;

  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;

  > li {
    list-style-type: none;
    border: 3px solid #888;
    scroll-snap-align: center;
    scroll-snap-stop: always;
  }
}

/* SCROLL BUTTONS */
.carousel {
  &::scroll-button(*) {
    /* make them round and easy to press */
    inline-size: 48px;
    aspect-ratio: 1;
    border-radius: 1e3px;
    border: 2px solid #999;

    /* space from content */
    margin: 5px;
  }

  &::scroll-button(left) {
    content: "⬅" / "Scroll Left";
    grid-area: left;
  }

  &::scroll-button(right) {
    content: "⮕" / "Scroll Right";
    grid-area: right;
  }

  &::scroll-button(*)::focus-visible {
    outline-offset: 5px;
  }
}

/* SCROLL Marker Group */
.carousel {
  scroll-marker-group: after;

  &::scroll-marker-group {
    grid-area: markers; /* place markers in parent grid area */

    /* 15px by 15px horizontal grid - size of dots */
    display: grid;
    place-content: safe center;
    grid: 30px / auto-flow 30px;
    gap: 15px;
    padding: 15px;
    scroll-padding: 15px;

    /* handle overflow */
    overflow: auto;
    overscroll-behavior-x: contain;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;

    @media (prefers-reduced-motion: no-preference) {
      scroll-behavior: smooth;
    }
  }

  > li {
    &::scroll-marker {
      content: " "; /* empty content is fine, just like ::before */

      /* style it as you need */
      border: 1px solid #bbb;
      border-radius: 50%;
      outline-offset: 4px;
      -webkit-tap-highlight-color: transparent;

      /* snap if group is overflowing */
      scroll-snap-align: center;
    }

    &::scroll-marker:is(:hover, :focus-visible) {
      border-color: LinkText;
    }

    &::scroll-marker:target-current {
      background: LinkText;
      border-color: LinkText;
    }
  }
}
